<launch>

    <include file="$(find velodyne_tracking)/launch/detection.launch">
        <arg name="grid_size" value="0.2"/>
        <arg name="max_radius" value="20.0"/>
        <arg name="double_radius" value="7.0"/>
        <arg name="max_height" value="1.0"/>
        <arg name="min_height" value="-1.5"/>
    </include>

    <include file="$(find velodyne_tracking)/launch/tracking.launch">
        <arg name="target_frame" value="/map" />
        <arg name="positions" value="/people_tracker/positions" />
        <arg name="pose" value="/people_tracker/pose" />
        <arg name="pose_array" value="/people_tracker/pose_array" />
        <arg name="people" value="/people_tracker/people" />
        <arg name="marker" value="/people_tracker/marker_array" />
    </include>

</launch>
